<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alihan98ersoy.locationbasedweather">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_shortcut_ic_wi_day_haze"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_shortcut_ic_wi_day_haze"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAbN1_w3VJxI7QLbb3W6i1lP4KISpVjgXA" />



        <activity android:name=".viewmodels.homepage_activity">

        </activity>


        <activity
            android:name=".viewmodels.login_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    </activity>
<activity
android:name=".viewmodels.register_activity"
android:theme="@style/AppTheme.NoActionBar" />
    </application>

    </manifest>